h1{
    font-weight: bolder;
    text-align: center;
}

#top{
    text-decoration: underline;
}

.emphasizedText{
    font-style: italic;
    color: rgb(91, 90, 90);
    font-size: medium;
}

body{
    .styled-div
    background-color:ghostwhite;
    border: 10px solid black;
    margin: 30px;
    padding: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif 
}

h3, h4{
    margin-top: 0;
    margin-bottom: 0;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
}

h4{
    font-weight: normal;
}

.styled-div {
    width: 200px;
    height: 150px;
    background-color: lightblue;
    border: 2px solid navy;
    margin-top: 20px;
    padding: 10px;
    float: left; /* Position divs side by side */
    margin-right: 20px; /* Add space between divs */
    text-align: center; /* Center text */
    line-height: 150px; /* Vertically center text */
}

.styled-div:nth-child(3n+1) {
    clear: both; /* Clear float for every third div to start a new row */
}

.styled-div:nth-child(4) {
    background-color: lightgreen;
    border-color: darkgreen;
}